
body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 12px;
    color: lightgray;
}

.my-div {
    border: 2px dotted; border-color: white;
    width: 100px;
    height: 100px;
}

ol {
    counter-reset: item;
    list-style-type: upper-alpha;
}

ul {
    list-style-type: square;
}