body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  
header,
footer {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
  clear: left;
}
.navigation {
  display: flex;
  background-color: lightseagreen;
}

.navigation > div {
  flex: 1;
  text-align: center;
}
#sec { 
  background-color: lightskyblue;
  display: block;
  text-align: center;
  overflow: auto;
}